.header {
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #eee;

    img{
      width:50px;
    }
  }

  .header__text-area {
    display: flex;
    align-items:center;
    flex-direction:column;
  }

  .header__page-title {
    font-size: 18px;
    margin-right: 20px;
  }

  .header__user-info {
    margin-right: 20px;
    color: #6c757d;
    font-size: 14px;
  }