<div>
    <app-search (search)="handleSearch($event)"></app-search>
</div>
<div class="item-list">
    <div *ngIf="loading$ | async" class="loading-message">Carregando itens...</div>
    <div *ngIf="error$ | async" class="error-message">Erro ao carregar os itens: {{ error$ | async }}</div>
  
    <div *ngIf="!(loading$ | async) && !(error$ | async) && (filteredItems$ | async)?.length === 0" class="no-items-found">
        <i class="fas fa-frown sad-icon"></i>
      <p>Nenhum item encontrado.</p>
    </div>
  
    
      <app-item-card *ngFor="let item of filteredItems$ | async" [item]="item"></app-item-card>
    
</div>